{%- if block.settings.show_remaining -%}
<div class="product__block__remaining" {{ block.shopify_attributes }}>
    {%- if block.settings.show_remaining -%}
    {%- assign max_inventory = block.settings.countdown -%}
    {%- assign show_remaining_class = 'count-is-unavailable' -%}
    {%- assign current_inventory = 0 -%}

    {%- if current_variant.inventory_policy == 'deny' and current_variant.inventory_management -%}
        {%- if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_inventory -%}
        {%- assign show_remaining_class = 'count-is-low' -%}
        {%- assign current_inventory = current_variant.inventory_quantity -%}
        {%- elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory -%}
        {%- assign show_remaining_class = 'count-is-in' -%}
        {%- else -%}
        {%- assign show_remaining_class = 'count-is-out' -%}
        {%- endif -%}
    {%- else -%}
        {%- assign show_remaining_class = 'count-is-unavailable' -%}
    {%- endif -%}

    {%- capture inventory -%}
        <span data-remaining-max="{{ max_inventory }}" data-remaining-count>{{ current_inventory | default: 0 }} </span>
    {%- endcapture -%}

    <div class="variant__countdown {{ show_remaining_class }}{% if block.settings.show_remaining_style == 'low' or is_preorder %} show-only-low{% endif %}" data-remaining-wrapper>
        <div class="variant__countdown--in">{{ 'products.product.in_stock' | t }}</div>
        <div class="variant__countdown--low">{{ 'products.product.remaining_html' | t: inventory: inventory }}</div>
        <div class="variant__countdown--out">{{ 'products.product.out_of_stock' | t }}</div>
        <div class="variant__countdown--unavailable">{{ 'products.product.item_unavailable' | t }}</div>
    </div>

    <script data-product-remaining-json type="application/json">
        {
        {%- for variant in product.variants -%}
            {%- assign maximum = block.settings.countdown | plus: 1 -%}
            {%- assign quant = null -%}
            {%- if variant.inventory_policy == 'deny' and variant.inventory_management -%}
            {%- assign quant = variant.inventory_quantity | at_most: maximum -%}
            {%- endif -%}
            "{{ variant.id | json }}": "{{ quant | json }}"{%- unless forloop.last -%},{%- endunless -%}
        {%- endfor -%}
        }
    </script>
    {%- endif -%}
</div>
{%- endif -%}
